<h2>VB Code</h2>
@if (session) {

<div class="flex flex-col p-5">
  <form
    action=""
    [formGroup]="codeInFG"
    class="flex-col w-full"
    (submit)="submit()"
  >
    <mat-form-field class="w-full">
      <mat-label>Enter a date range</mat-label>
      <input matInput formControlName="pl_date" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="game_id">
        @for (item of events|async; track $index) {
        <mat-option [value]="item.id">
          {{ item.title }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [hasError]="!codeInFG.controls.player_id.value">
        <ng-template matStepLabel
          >Fill out your name:
          {{ codeInFG.controls.player_id.value?.name }}</ng-template
        >
        <mat-button-toggle-group
          formControlName="player_id"
          (change)="stepper.next()"
        >
          @for (item of player|async; track $index) {
          <mat-button-toggle [value]="item">{{
            item.trikot
          }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
        <span>{{ codeInFG.controls.player_id.value?.name }}</span>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel
          >Art: {{ codeInFG.controls.kind.value?.name }}</ng-template
        >
        <mat-button-toggle-group
          formControlName="kind"
          (change)="stepper.next()"
        >
          @for (item of kind_options; track $index) {
          <mat-button-toggle [value]="item">{{ item.name }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel
          >Charactiks: {{ codeInFG.controls.char.value?.name }}</ng-template
        >
        <mat-button-toggle-group
          formControlName="char"
          (change)="stepper.next()"
        >
          @for (item of char_options; track $index) {
          <mat-button-toggle [value]="item">{{ item.name }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel
          >Bewertung: {{ codeInFG.controls.grade.value?.name }}</ng-template
        >
        <mat-button-toggle-group
          formControlName="grade"
          (change)="stepper.next()"
        >
          @for (item of grad_options; track $index) {
          <mat-button-toggle [value]="item">{{ item.name }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
        @if (codeInFG.controls.kind.value && codeInFG.controls.grade.value) {

        <p>
          {{
            this.hint_texts[codeInFG.controls.kind.value.abbr][
              codeInFG.controls.grade.value.abbr
            ]
          }}
        </p>
        }
        <hr />
        <button mat-raised-button type="submit">Submit</button>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
}@else {
<app-auth></app-auth>
}
<div class="flex">
  <ul>
    @for (item of actions|async; track $index) {

    <li>{{ item | json }}</li>
    }
  </ul>
</div>
