<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" closed>
    <mat-list>
      <mat-list-item>
        <a [routerLink]="['/']">Home</a>
      </mat-list-item>
      @if (session) {
      <mat-list-item>
        <a [routerLink]="['/games']">Game Overview</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/dataentry']">Data Input</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/report']">Game Report</a>
      </mat-list-item>
      <mat-list-item>
        <a (click)="logout()">Logout</a>
      </mat-list-item>
      }@else{
      <mat-list-item>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
      </mat-list-item>
      }
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="navbar bg-base-100">
      <div class="flex-none">
        <button class="btn btn-square btn-ghost" (click)="drawer.toggle()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">(S)VB Code</a>
      </div>
      <div class="flex-none">
        <button class="btn btn-square btn-ghost">
          <img src="volleyball.svg" alt="" />
        </button>
      </div>
    </div>

    <router-outlet></router-outlet>
    <app-buttom-nav></app-buttom-nav>
  </mat-drawer-content>
</mat-drawer-container>
